<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Dashboard Page</h1>
    <div class="container">
        Signed in as: <%= sess.username%><br><br>
            <form method="GET" action="/chat">
                <button type="submit">Go to my messages</button>
            </form><br>
            <form method="GET" action="/logout">
                <button type="submit">Logout</button>
            </form>
    </div>

</body>

</html>