<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script defer="defer" src="three-bundle.js"></script>
    <link href="main.css" rel="stylesheet">
    
</head>

<body>
    <div id="loader" class="hidden">
        <div class="heading"></div>
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div><button class="simulate" type="button">Simulate A Message</button>
    <div id="canvas"></div>
    <div id="container"></div><canvas class="webgl"></canvas>
    <h4 class="connection_message" style="opacity:0">A Message from Australia</h4>

    <canvas class="room"></canvas>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/site-assets/favicon.png" type="image/x-icon" />
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" -->
    <!-- integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" /> -->
  <link href="https://fonts.cdnfonts.com/css/uni-neue" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700;  800;900&display=swap" rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/style.css" />
  <script defer="defer" src="three-bundle.js"></script>
  <link href="main.css" rel="stylesheet">
  <title>Mindly Care</title>
</head>

<body>
  <div class="content">
    <header class="flex">
      <nav class="navbar navbar-expand-lg">
        <div class="">
          <a class="navbar-brand" href="#">
            <img class="ml-4" src="/site-assets/logo-2.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" style="flex-grow: none" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/login">LogIn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signup">SignUp</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#instructions">Instructions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div id="home" class="container ml-4">
        <div class="header-hero-part">
          <div class="row">
            <div class="col-md-6 left-header-text">
              <h1>Mindly Care</h1>
              <p class="text-xl">
                Spreading Mental Health Awareness with VR | A step towards a healthier psyche !
              </p>
            </div>
            <div class="col-md-6 right-header-image">
              <div class="header-image-box">
                <img src="/site-assets/vr-girl.svg" alt="" class="vr-girl" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="sidebar-img-container">


      <img src="/site-assets/circle-center.svg" alt="" class="circle-center" />
    </div>

    <div>
      <div id="loader" class="hidden">
        <div class="heading"></div>
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div><button class="simulate" type="button">Simulate A Message</button>
      <div id="canvas"></div>
      <div id="container" style="display: none;"></div><canvas class="webgl"></canvas>
      <h4 class="connection_message font-bold" style="opacity:0; margin: 200px 0px; text-align: center; width: 100%;">A Message from Australia</h4>

      <canvas class="room" style="display: none;"></canvas>
    </div>

    <footer id="contact">
      <h3>Team Brain Waffle</h3>
      <p>Copyright © 2022 Brain Waffle. All rights reserved.</p>
    </footer>
  </div>
  <script type="module" src="/index.js"></script>
</body>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script>
    var socket = io();
    socket.on('rotateCountry', (data) => {
        setInterval(() => {
            console.log(data);
        }, 200);
    });
</script> -->

</html>