<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
   
    <div
	class="bg-purple-900 absolute top-0 left-0 bg-gradient-to-b from-emerald-300 to-cyan-400 bottom-0 leading-5 h-full w-full overflow-hidden">
</div>
<div
	class="relative sm:mt-0 min-h-screen  sm:flex sm:flex-row  justify-center bg-transparent p-6 sm:p-24 sm:pb-0 rounded-3xl shadow-xl">
	<div class="flex-col flex mt-16 lg:py-14 sm:max-w-4xl xl:max-w-md  z-10">
		<div class="self-start text-slate-700 text-left  lg:pr-16 ">
			
			<h1 class="my-3 font-bold text-4xl">Get Professional Help!</h1>
			<p class="pr-3 text-sm text-lg">Bad mental health is a real issue. Sign In to talk to professionals about your mental health problems.</p>
		</div>
		<!-- <img src="/site-assets/image.svg" width="200%" alt=""> -->
	</div>
	<div class="flex justify-center self-center  z-10">
		<div class="p-12 bg-gradient-to-b  from-emerald-200 to-cyan-400 mx-auto rounded-3xl w-96 border border-black">
			<div class="mb-7">
				<h3 class="font-semibold text-2xl text-slate-700">Sign In </h3>
				<p class="text-slate-700">Don'thave an account? <a href="/signup"
						class="text-sm font-bold text-slate-700 hover:underline">Sign Up</a></p>
			</div>
			<form class="space-y-6" method="POST" action="/login">
				<div class="">
					<input class=" w-full text-sm  px-4 py-3 bg-white border  border-gray-700 rounded-lg focus:outline-none focus:border-purple-400 placeholder-slate-400" autocomplete="off" placeholder="Username" type="text" name="username"
                    id="username" required minlength="4"> 
              </div>


					<div class="relative" x-data="{ show: true }">
						<input type="password" name="password"
						id="password" required minlength="4" placeholder="Password" autocomplete="off" class="text-sm text-gray-900 px-4 py-3 rounded-lg w-full bg-white border placeholder-slate-400 border-gray-700 focus:outline-none focus:border-purple-400">
						<div class="flex items-center absolute inset-y-0 right-0 mr-3  text-sm leading-5">
						</div>
					</div>


					<div>
						<button type="submit" value="login" class="w-full flex justify-center border border-black hover:bg-cyan-600 text-gray-100 p-3  rounded-lg tracking-wide font-semibold  cursor-pointer transition ease-in duration-500">
								Sign In
							</button>
									</div>
									<div class="flex items-center justify-center space-x-2 my-5">
										<span class="h-px w-16 bg-gray-700"></span>
										<span class="text-white font-normal"> Find us at</span>
										<span class="h-px w-16 bg-gray-700"></span>
									</div>
									<div class="flex justify-center gap-5 w-full ">
												<button type="submit" class="w-full flex items-center justify-center mb-6 md:mb-0 border border-gray-700 hover:border-gray-900 hover:bg-cyan-600 text-sm text-gray-300 p-3  rounded-lg tracking-wide font-medium  cursor-pointer transition ease-in duration-500">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"/></svg>
									<span class="text-white ml-2">Github</span>
									</button>

												<button type="submit" class="w-full flex items-center justify-center mb-6 md:mb-0 border border-gray-700 hover:border-gray-900 hover:bg-cyan-600 text-sm text-gray-300 p-3  rounded-lg tracking-wide font-medium  cursor-pointer transition ease-in duration-500 px-">
													<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 64 64" width="24" height="24" style="enable-background:new 0 0 64 64;" xml:space="preserve">
														<style type="text/css">
															.st0{fill:#01579B;}
															.st1{fill:#FFFFFF;}
														</style>
														<g>
															<g>
																<path class="st0" d="M48.7,4.8H15.3L0,32l15.7,27.2h33.1L64,32L48.7,4.8z"/>
															</g>
															<path class="st1" d="M32.2,16.9H21.4v30.3h10.8c8.2,0,14.9-6.8,14.9-15.1S40.5,16.9,32.2,16.9z M32,41.1h-4.5V22.9H32   c5,0,9.1,4.1,9.1,9.1S37,41.1,32,41.1z"/>
														</g>
														</svg>
									<span class="text-white ml-2">Devpost</span>
									</button>

					</div>
				</div>
				<!-- <div class="mt-7 text-center text-gray-400 text-xs">
					<span>
					Copyright © 2021-2023
					<a href="https://codepen.io/uidesignhub" rel="" target="_blank" title="Codepen aji" class="text-violet-500 hover:text-violet-600 ">AJI</a></span>
				</div> -->
			</form>
		</div>
	</div>
</div>

    <!-- <div class="container">
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="username">username: </label><input class="form-control" type="text" name="username"
                    id="username" required minlength="4"><br>
                <label for="password">Password: </label><input class="form-control" type="password" name="password"
                    id="password" required minlength="4"><br>
            </div>
            <input type="submit" value="login">
        </form>

        <p>No account yet?</p>
        <form method="GET" action="/signup">
            <button type="submit">Sign up</button>
        </form>
    </div> -->
</body>

</html>