*{
    padding: 0;
    margin: 0;
}

html,body{
    /* overflow: hidden; */
}

div#canvas{
    background-image: radial-gradient(lightyellow, skyblue)
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
}

#canvas{
  height: 100vh;
}

#loader{
    width: 100vw;
    height: 110vh;
    position: absolute;
    background: skyblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    /* padding-top: 45vh;
    padding-left: 55vw; */
}

.hidden{
    display: none !important;
}

.simulate{
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 20px;
    font-weight:700;
    font-size: 16px;
    background-color: #b5e006;
    color: white;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 3px 3px rgba(92, 104, 92, 0.3);
}

.simulate:hover{
    cursor: pointer;
    background-color: #9ac000;
}

.heading{
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    width: 100%;
    margin-top: 200px;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    4.9% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 0;
    }
    5% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  .connection_message{
    font-size: 36px;
    z-index: 10000;
    position: absolute;
    top: 30%;
    text-align: center;
    width: 100%;
    color: white;
  }